<%= form_with(model: carmodel, local: true) do |form| %>
  <% if carmodel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(carmodel.errors.count, "error") %> prohibited this carmodel from being saved:</h2>

      <ul>
        <% carmodel.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type1 %>
    <%= form.text_field :type1 %>
  </div>

  <div class="field">
    <%= form.label :fuel1 %>
    <%= form.text_field :fuel1 %>
  </div>

  <div class="field">
    <%= form.label :range1 %>
    <%= form.number_field :range1 %>
  </div>

  <div class="field">
    <%= form.label :speed1 %>
    <%= form.number_field :speed1 %>
  </div>

  <div class="field">
    <%= form.label :pollution1 %>
    <%= form.text_field :pollution1 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
